.login-background {
  background: linear-gradient(45deg, #000000, #333333, #777777, #bcbcbc, #ffffff);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Animações suaves */
.MuiTextField-root {
  transition: all 0.3s ease;
}

.MuiTextField-root:hover {
  transform: scale(1.02);
}

.MuiButton-containedPrimary {
  background-color: #1e88e5;
  color: white;
  transition: all 0.3s ease;
}

.MuiButton-containedPrimary:hover {
  background-color: #1565c0;
  box-shadow: 0px 5px 15px rgba(21, 101, 192, 0.4);
}